{% extends 'base.html' %}
{% block content %}

<h1>Strings Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ string.name }}</span>
        {%if string.material %}
          <p>Material: {{ string.material }}</p>
        {% endif %}
        <p>Guage: {{ string.guage }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'strings_update' string.id %}">Edit</a>
        <a href="{% url 'strings_delete' string.id %}">Delete</a>
      </div>
      {% for photo in string.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
      {% empty %}
        <div class="card-panel red-text center-align">No Photos Uploaded</div>
      {% endfor %}
      <form action="{% url 'add_string_photo' string.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
      </form>
    </div>
  </div>
</div>

{% endblock %}